
@{
    ViewData["Title"] = "Dashboard";
}
<div style="text-align:center">
<h2>@ViewBag.MyMessage</h2>

<h1 style="color:orangered">Welcome User</h1>
<h1 style="color:orangered">
<a asp-controller="Home" asp-action="Logout" >LogOut</a>
</h1>
</div>

